<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacts</title>
        <link rel="stylesheet" href="/css/contact.css">
    </head>


<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/shop">Shop</a:href></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contacts</a></li>
            </ul>
        </nav>
    </header>
<form action="#" method ="POST" onsubmit="onsignup(event)">
    <fieldset>
    <h1>Book a call</h1>
   <p>Book a call slot and our representative will call you</p>
   <hr>
     <label>Name:</label>
           <br>
           <input type="text" name="Nname" width="10000px">
           <br>
           
           <label>Email:</label>
           <br>
           <input type="text" name="Email" width="10000px">
           <br>
   
           <label>Phone:</label>
           <br>
           <input type="text" name="Phone" width="10000px">
           <br>
   
           <label>Time for Call:</label>
           <br>
           <input id="dat" type="date" name="date" width="320px">
           <input id="dat" type="time" name="time" width="320px">
           <br>
     <input id="sub" type="submit" value="Get A Call">
    </fieldset>
   </form>
</body>
</html>